<%# <% content_for :title do @user.username end %>

<main class="home">
  <div class="standard-view">
    <h1>Hi <%= @user.name.split[0] %>!</h1>

    <section class="standard-view__list">
      <h3>Your wikis:</h3>
      <ul>
        <% @wikis.each do |wiki| %>
          <small class="standard-view__list-item-visibility">
            <% if wiki.public? %>
              public
            <% else %>
              private
            <% end %>
          </small>
          <li class="standard-view__list-item">
            <%= link_to "#{wiki.name}", wiki %>
          </li>
        <% end %>
        <br>
        <li class="standard-view__list-item">
          <% if can?(:create, @new_wiki) %>
            <%= link_to "New wiki...", wikis_path, method: :post,
              class: "standard-view__list-link" %>
          <% end %>
          <%= link_to "All Wikis", wikis_path, class: "standard-view__list-link" %>
        </li>
      </ul>
    </section>

    <%= render 'global_footer' %>
  </div>
</main>

