<main class="page">
  <div class="standard-view">
    <h1>
      <%= best_in_place @page.wiki,
        :name,
        ok_button: "Update wiki name",
        cancel_button: "Cancel"
      %>
    </h1>

    <section class="standard-view__list">
      <h3>
        <%= best_in_place @page,
          :title,
          url: edit_wiki_page_path,
          ok_button: "Update page title",
          cancel_button: "Cancel"
        %>
      </h3>
      <ul>
        <li class="standard-view__list-item">
          <%= best_in_place @page,
            :content,
            as: :textarea,
            url: edit_wiki_page_path,
            ok_button: "Update page content",
            cancel_button: "Cancel",
            confirm: true
          %>
        </li>
        <br>
        <li class="standard-view__list-item">
          <%= link_to "Back to wiki", @page.wiki, class: "standard-view__list-link" %>
          <%= link_to "Delete page", delete_wiki_page_path(@page.wiki, @page),
            method: :delete, class: "standard-view__list-link",
            data: { confirm: "You're ok with deleting this page?" } %>
        </li>
      </ul>
    </section>

    <%= render 'global_footer' %>
  </div>
</main>

