<main class="wiki-index">
  <div class="standard-view">
    <h1>InfoShuttle Central</h1>

    <section class="standard-view__list">
      <h3>All Wikis in Orbit</h3>
      <ul>
        <% @wikis.each do |wiki| %>
          <li class="standard-view__list-item">
            <%= link_to "#{wiki.name}", wiki %>
            <small class="standard-view__list-item-owner">
              <%= wiki.user.username %>
            </small>
          </li>
        <% end %>
        <br>
        <li class="standard-view__list-item">
          <%= link_to "New wiki...", wikis_path, method: :post,
            class: "standard-view__list-link" %>
          <%= link_to "Home", root_path, class: "standard-view__list-link" %>
        </li>
      </ul>
    </section>

    <%= render 'global_footer' %>
  </div>
</main>

