<% content_for :title do @wiki.name end %>

<main class="wiki">
  <div class="standard-view">
    <h1>
      <%= best_in_place_if can?(:update, @wiki), @wiki,
        :name,
        ok_button: "Update wiki name",
        cancel_button: "Cancel"
      %>
    </h1>

    <section class="standard-view__list">
      <h3>Pages:</h3>
      <ul>
        <% @wiki.pages.each do |page| %>
          <li class="standard-view__list-item">
            <%= link_to "#{page.title}", [@wiki, page] %>
          </li>
        <% end %>
        <br>
        <li class="standard-view__list-item">
          <% if can?(:update, @wiki) %>
            <%= link_to "New page...", wiki_pages_path(@wiki), method: :post,
                class: "standard-view__list-link" %>
            <% if can?(:collaborators, @wiki) %>
              <%= link_to "Collaborators", collaborators_path(@wiki),
                  class: "standard-view__list-link" %>
            <% end %>
            <% if can?(:update, @premium_wiki) %>
              <% if @wiki.public? %>
                <%= link_to "Make private", wiki_path(wiki: { public: false }),
                  method: :patch, class: "standard-view__list-link" %>
              <% else %>
                <%= link_to "Make public", wiki_path(wiki: { public: true }),
                  method: :patch, class: "standard-view__list-link" %>
              <% end %>
            <% end %>
            <%= link_to "Delete wiki", @wiki, method: :delete,
                class: "standard-view__list-link",
                data: { confirm: "You're ok with deleting this wiki?" } %>
          <% end %>
        </li>
      </ul>
    </section>

    <%= render 'global_footer' %>
  </div>
</main>

