<footer class="global-footer">
  <h1 class="logo">
    <%= link_to root_path do %>
      <span><i class="logo__icon"></i></span>
      <span class="logo__info">Info</span><span class="logo__shuttle">Shuttle</span>
    <% end %>
  </h1>

  <nav>
    <ul class="nav-links">
      <li class="nav-links__item">
        <% if current_user %>
          <%= link_to "Level up!", root_path %>
        <% else %>
          <%= link_to "Register for free!", root_path %>
        <% end %>
      </li>
      <li class="nav-links__item">
        <%= link_to "Help", "https://twitter.com/feedthebayer" %>
      </li>
      <% if current_user %>
        <li class="nav-links__item">
          <%= link_to "Account", edit_user_path(current_user) %>
        </li>
        <li class="nav-links__item">
          <%= link_to "Sign out", sign_out_path, method: :delete %>
        </li>
      <% end %>
    </ul>
  </nav>
</footer>
