<footer class="global-footer">
  <h1 class="logo">
    <%= link_to root_path do %>
      <span><i class="logo__icon"></i></span>
      <span class="logo__info">Info</span><span class="logo__shuttle">Shuttle</span>
    <% end %>
  </h1>

  <nav>
    <ul class="nav-links">
      <% if current_user %>
        <% unless current_user.premium? %>
          <li class="nav-links__item">
            <%= link_to "Level up!", premium_path %>
          </li>
        <% end %>
        <li class="nav-links__item">
          <%= link_to "Help", "https://twitter.com/feedthebayer" %>
        </li>
        <li class="nav-links__item">
          <%= link_to "Account", edit_user_path(current_user) %>
        </li>
        <li class="nav-links__item">
          <%= link_to "Sign out", sign_out_path, method: :delete %>
        </li>
      <% else %>
        <li class="nav-links__item">
          <%= link_to "Register for free!", root_path %>
        </li>
        <li class="nav-links__item">
          <%= link_to "Sign In", auth_at_provider_path(:provider => :twitter) %>
        </li>
        <li class="nav-links__item">
          <%= link_to "Help", "https://twitter.com/feedthebayer" %>
        </li>
      <% end %>
    </ul>
  </nav>
</footer>
