<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
      <%= content_for?(:title) ? yield(:title) : "InfoShuttle | Created by Brandon Bayer" %>
    </title>
    <meta name="description" content="InfoShuttle is a super simple wiki with the solarized-dark color scheme, markdown editing, and a fully responsive design.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes" >
    <meta name="apple-mobile-web-app-title" content="InfoShuttle" >
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="mobile-web-app-capable" content="yes" >

    <script src="//use.typekit.net/ult7bsx.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag "vendor/modernizer" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag :application %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser.
      Please <a href="http://browsehappy.com/">upgrade your browser</a> to
      improve your experience.</p>
    <![endif]-->

    <section class="flash">
      <% flash.each do |name, msg| -%>
        <% if msg.is_a?(String) %>
          <div data-alert class="alert-box <%= name %> radius">
            <%= msg %>
            <a href="#" class="close">&times;</a>
          </div>
        <% end %>
      <% end %>
    </section>

    <%= yield %>


    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
          (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
        function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
        e=o.createElement(i);r=o.getElementsByTagName(i)[0];
        e.src='//www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
        ga('create','UA-57899301-5','auto');ga('send','pageview');
      </script>
</body>
</html>
